@model Note

<h1>Видалити замітку</h1>

<p>Ви дійсно хочете видалити замітку "<strong>@Model.Title</strong>"?</p>

<form asp-controller="Note" asp-action="DeleteNote" method="post">
    <input type="hidden" asp-for="Id" />
    <button type="submit" class="btn btn-danger">Видалити</button>
    <a asp-controller="Note" asp-action="Index" class="btn btn-secondary">Скасувати</a>
</form>

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}